
<div class="container-fluid">
  <div class="container xd-container">
    <h2>
      Add Oferta
    </h2>
    <form (ngSubmit)="onSubmit(ofertaForm.value)" #ofertaForm="ngForm" class="form-horizontal">
      <div class="form-group" hidden="true">
        <input type="text" hidden="true" class="form-control" id="id" [(ngModel)]="oferta.id" name="id"/>
      </div>
      <div class="form-group has-feedback" [class.has-success]="id.valid" [class.has-error]="!id.valid">
        <label for="id" class="col-sm-2 control-label">Id</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="id" [(ngModel)]="oferta.id"  required name="id" #id="ngModel"/>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="id.valid" [class.glyphicon-remove]="!id.valid" aria-hidden="true"></span>
          <span class="help-block" *ngIf="id.dirty && id.hasError('required')">Id is required</span>
        </div>
      </div>
      <div class="form-group has-feedback" [class.has-success]="title.valid" [class.has-error]="!title.valid">
        <label for="title" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="title" [(ngModel)]="oferta.title" name="title" minlength="2" required #title="ngModel"/>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="title.valid" [class.glyphicon-remove]="!title.valid" aria-hidden="true"></span>
          <span class="help-block" *ngIf="title.dirty && title.hasError('required')">Title is required</span>
          <span class="help-block" *ngIf="title.dirty && title.hasError('minlength')">Title must be at least 2 characters long</span>
        </div>
      </div>
      <div class="form-group has-feedback" [class.has-success]="description.valid" [class.has-error]="!description.valid">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="description" [(ngModel)]="oferta.description" name="description" required #description="ngModel"/>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="description.valid" [class.glyphicon-remove]="!description.valid" aria-hidden="true"></span>
          <span class="help-block" *ngIf="description.dirty && description.hasError('required')">Description is required</span>
        </div>
      </div>
      <div class="form-group has-feedback" [class.has-success]="discount.valid" [class.has-error]="!discount.valid">
        <label for="discount" class="col-sm-2 control-label">Discount</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="discount" [(ngModel)]="oferta.discount" name="discount" required #discount="ngModel"/>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="discount.valid" [class.glyphicon-remove]="!discount.valid" aria-hidden="true"></span>
          <span class="help-block" *ngIf="discount.dirty && discount.hasError('required')">Discount is required</span>
        </div>
      </div>
      <div class="form-group has-feedback" [class.has-success]="expiryDate.valid" [class.has-error]="!expiryDate.valid">
        <label for="expiryDate" class="col-sm-2 control-label">ExpiryDate</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="expiryDate" [(ngModel)]="oferta.expiryDate" name="expiryDate" required maxlength="10" pattern="\d{4}\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01])*" #expiryDate="ngModel"/>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="expiryDate.valid" [class.glyphicon-remove]="!expiryDate.valid" aria-hidden="true"></span>
          <span class="help-block" *ngIf="expiryDate.dirty && expiryDate.hasError('required')">ExpiryDate is required</span>
          <span class="help-block" *ngIf="expiryDate.dirty && expiryDate.hasError('pattern')" >ExpiryDate must be an yyyy-MM-dd expression</span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-default" (click)="goToOfertasList()">Back</button>
          <button type="submit" [disabled]="!ofertaForm.valid" class="btn btn-default">Add Oferta</button>
        </div>
      </div>
    </form>
  </div>
</div>